@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bellota+Text&family=Oswald&family=Prata&family=Raleway:ital,wght@0,200;1,400&family=Rampart+One&family=Roboto+Slab:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellota+Text&family=Oswald&family=Playfair+Display&family=Prata&family=Raleway:ital,wght@0,200;1,400&family=Rampart+One&family=Roboto+Slab:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html {
  scroll-behavior: smooth;
}

header {
  background-image: linear-gradient(rgba(128, 128, 128, 0.375), rgba(128, 128, 128, 0.29)), url(assets/img/infant-2717347_1280.jpg);
  background-position: center;
  background-size: cover;
}

h2 {
  width: 100%;
  height: 100px;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  background-color: #004aad;
  color: white;
  text-align: center;
  padding-top: 15px;
  margin: 0;
}

h3 {
  width: 100%;
  height: 100px;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  background-color: #004aad;
  color: white;
  text-align: center;
  padding-top: 15px;
  margin: 0;
}

.barra {
  height: 120px;
  font-size: 30px;
}
.barra .navbar-brand {
  font-size: 30px;
}
.barra .links .nav-item {
  padding-right: 20px;
}
.barra .links .nav-item a {
  color: white;
  font-family: "Roboto Slab", serif;
  transition: all 1.3s;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.barra .links .nav-item a:hover {
  transform: scale(1.1);
  transition: all 1.3s;
  color: #004aad;
  text-shadow: -22px 20px 3px white;
}

.bgUno {
  height: 550px;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: rgba(0, 0, 0, 0.855);
  padding-top: 125px;
}
.bgUno h1 {
  font-family: "Roboto Slab", serif;
  font-size: 80px;
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
}
.bgUno em {
  font-size: 20px;
  letter-spacing: 1.2;
}

.conth2xh3 {
  background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.641) 37%, rgba(255, 166, 0, 0.624));
}
.conth2xh3 .sametitle {
  width: 100%;
  height: 100px;
  font-family: "Playfair Display", serif;
  font-size: 45px;
  letter-spacing: 1.2px;
  color: white;
  text-align: center;
  padding-top: 15px;
  margin: 0;
}
.conth2xh3 .sametitle1 {
  width: 100%;
  height: 100px;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  color: #004aad;
  text-align: center;
  padding-top: 15px;
  margin: 0;
}
.conth2xh3 .nosotros {
  width: 100%;
  height: 550px;
  color: black;
  display: flex;
  padding-top: 10px;
}
.conth2xh3 .nosotros .img {
  width: 40%;
  height: 500px;
  display: flex;
  justify-self: flex-end;
  background-image: url(assets/img/niña_gafas.png);
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  margin-left: 50px;
}
.conth2xh3 .nosotros .texto {
  width: 50%;
  height: 500px;
  text-align: center;
  padding: 50px 15px 15px 15px;
  word-spacing: 1.3;
  justify-self: flex-start;
}
.conth2xh3 .nosotros .texto p {
  color: #004aad;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
}

.creditos {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(to right bottom, rgba(72, 71, 71, 0.467), rgba(57, 56, 56, 0.224)), url(assets/img/billete-en-mano.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
}
.creditos .calculadora {
  padding-top: 25px;
  width: 50%;
  height: 300px;
  color: white;
  font-size: 20px;
  font-family: "Playfair Display", serif;
}
.creditos .calculadora .formLine {
  width: 60%;
  height: 70px;
  position: relative;
  left: 50px;
}
.creditos .calculadora ::-webkit-input-placeholder {
  font-size: 16px;
  font-family: "Roboto Slab", serif;
  padding-left: 5px;
}
.creditos .calculadora input {
  padding: 5px;
  width: 100%;
  border-radius: 50px;
  border-style: outset;
  color: #004aad;
}
.creditos .calculadora .btn-danger {
  color: white;
  background-color: #004aad;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  border-radius: 50px;
  border: solid black 1px;
  position: absolute;
  right: 150px;
}
.creditos .calculadora .btnLeft {
  color: white;
  position: relative;
  left: 70px;
}
.creditos .btnLeft:hover {
  transform: scale(1.1);
  transition: 1.1s;
  background-color: violet;
  color: #004aad;
  border-radius: 50px;
  border: solid #004aad 3px;
}
.creditos .btnRight:hover {
  transform: scale(1.1);
  transition: 1.1s;
  background-color: violet;
  color: #004aad;
  border-radius: 50px;
  border: solid #004aad 3px;
}
.creditos .contRes {
  width: 50%;
  height: 400px;
  background-color: rgba(24, 49, 107, 0.335);
}
.creditos .contRes h4 {
  color: white;
  font-size: 36px;
  font-family: "Roboto Slab", serif;
  text-align: center;
  padding-top: 25px;
}
.creditos .contRes #resultado {
  padding-top: 20px;
  color: white;
  font-size: 26px;
  font-family: "Roboto Slab", serif;
  text-align: center;
}

.formRegistro {
  width: 100%;
  height: 550px;
  background-image: url(assets/img/family-2610205_1280.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
}
.formRegistro .cont-formL {
  background-color: rgba(0, 75, 173, 0.4352941176);
  color: white;
  font-style: "Roboto Slab", serif;
  font-size: 18px;
  width: 50vw;
  height: 550px;
  display: flex;
  justify-self: flex-start;
  padding: 15px;
}
.formRegistro .cont-formR {
  background-color: rgba(0, 75, 173, 0.4352941176);
  color: white;
  font-style: "Roboto Slab", serif;
  font-size: 18px;
  width: 50vw;
  height: 550px;
  display: flex;
  justify-self: flex-end;
  padding: 15px;
}
.formRegistro .cont-formR .btnForm {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}
.formRegistro .cont-formR .btnForm .btnTop {
  margin-bottom: 15px;
}
.formRegistro .cont-formR .btnForm .btn-warning {
  color: white;
  background-color: #004aad;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  border: solid black 1px;
}
.formRegistro .cont-formR .btnForm .btn-warning:hover {
  transform: scale(1.1);
  transition: 1.1s;
  background-color: violet;
  color: #004aad;
  border-radius: 50px;
  border: solid #004aad 3px;
}
.formRegistro .formrow {
  padding: 15px 50px 10px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 100px;
}
.formRegistro .formrow input {
  padding: 5px;
  width: 100%;
  border-radius: 50px;
  border-style: outset;
  color: black;
  font-family: "Roboto Slab", serif;
}
.formRegistro .formrow select {
  color: black;
  font-family: "Roboto Slab", serif;
}
.formRegistro .formrow option {
  color: black;
  font-family: "Roboto Slab", serif;
}

.pie {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(to bottom, #004aad 35%, violet);
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  text-align: center;
  padding-top: 20px;
}

.heartup {
  width: 55px;
  height: 55px;
  border: solid 1px white;
  background-color: #004aad;
  border-radius: 50px;
  position: fixed;
  right: 100px;
  bottom: 100px;
  transition: all 1.3s;
}
.heartup i {
  font-size: 30px;
  text-align: center;
  padding: 14px 4px 5px 11px;
  transition: all 1.3s;
}

.heartup:hover {
  transform: rotateY(3.142rad);
  transition: 1.2s;
  border: solid 1px violet;
}

i:hover {
  transition: 1.4s;
  color: violet;
}

/*# sourceMappingURL=style.css.map */
